<section style="background-image:url('assets/images/Newfolder/44.jpg');background-attachment: fixed; background-repeat: no-repeat;
                background-size: 100%;
                background-position:  left;height: 100vh;">
  <div class="container-fluid h-100-vh page-bg">
    <div class="row align-items-md-center h-100-vh">



      <div class="col-md-4" style="margin-left: 35%;margin-top: -2%;">
        <form action="" style="margin-left: none;margin-right: auto;padding: 16px;
              background: transparent;margin-top: 35%;">
          <h4 class="login01">Login</h4>
          <!-- <h4 *ngIf="submitted && ErrorMsg!=''" style="color:red ">{{ErrorMsg}}</h4> -->
          <div class="form-group mb-4">
            <input [(ngModel)]="loginModel.email" type="text" class="form-control form-control-lg" name="Email" autofocus=""
              placeholder="Email/Mobile Number">
              <div *ngIf="submitted && loginModel.email==''" style="color:red ">Required Email/Username</div>
          </div>
          <div class="form-group mb-4">
            <input [(ngModel)]="loginModel.password" type="password" class="form-control form-control-lg" name="Password" placeholder="Password/ OTP">
            <div *ngIf="submitted && loginModel.password==''" style="color:red ">Required Password</div>
          </div>
          <button class="btn btn-primary btn-lg btn-block btn-uppercase mb-4 waves-effect waves-button waves-light"
          (click)="loginClick()">Sign In
          </button>

          <b><a style="color: #fff;margin-left: 23%;">Don't have an acount? </a> <a style="cursor:pointer ;" (click)="regClick()"
              class="text-light"><strong>Sign Up</strong></a></b>
              <br>
          <b><a style="color: #fff;margin-left: 23%;">Forgot Password?  </a> <a style="cursor:pointer ;"
              (click)="forgotPasswordClick()" class="text-light"><strong>Click here!</strong></a></b>

          <a (click)="home()" class="banner-btn pix-btns wow fadeInUp" data-wow-delay="0.7s"
            style="position: fixed;top: 2%;right: 3%;font-size: larger;color: #fff;cursor: pointer;">
            <i class="fas fa-home"></i> <b> Back To Home </b></a>

        </form>
      </div>



    </div>
  </div>
</section>
