
<div class="header-top-area">
  <div class="container-fluid">
    <div class="row align-items-center">

      <a href="#">
        <img class="headerimage" src="assets/images/Newfolder/72.jpg" alt="Site Logo" />
        <!-- <img class="headerimage" src="../../assets/images/Newfolder/75.jpg" alt="Site Logo" /> -->
      </a>

      <div class="col-lg-3 col-sm-4">
        <div class="header-right-area">
          <div class="contact-page">
            <a class="btn btn-default btn-primary btn-white"> </a>
            <a class="btn btn-default btn-primary btn-white"> </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>