<div class="main-slider style-three intro-element">
    <div class="intro-content-info" style="margin-top: -50px;color: #000 ;font-size: 25px;font-weight: 100px;">
      <span> </span>Social Links: &nbsp; &nbsp;

      <a href="#"><span class="fab fa-facebook-f"></span></a> &nbsp; &nbsp;
      <a href="#"><span class="fab fa-twitter"></span></a> &nbsp; &nbsp;
      <a href="#"><span class="fab fa-instagram"></span> </a>
    </div>
    
      
    
   
      <div class="carousel-inner h-100">
        <div class="carousel-item active h-100">
          <div class="slideZoom bg-image bg-overlay h-100"
            style="background-image:url('assets/images/Newfolder/32.jpg')"></div>
          <div class="single-slide position-absolute w-100 h-55 d-flex align-items-center">
            <div class="container">
              <div class="slide-caption text-white text-center delay-10ms" data-animate="hg-fadeInUp">
                <div class="slide-icon"><img src="assets/images/Newfolder/cloudprint-logo 5.png"></div>
                <h1 class="slider-title delay-1s" data-animate="hg-fadeInUp"> Welcome to Cloud Print - One stop for all your printing jobs.</h1>
                <h2 class="slider-subtitle delay-1s" data-animate="hg-fadeInUp">The most trusted printing service </h2>
                <div class="btn-group-default delay-2s" style="margin-bottom: 10px;" data-animate="hg-fadeInUp">
                  <a class="btn btn-default btn-primary btn-white" (click)="signUp()"
                    style="background-color: #ed1c24 !important;">Get Started Now!
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
  
  
  
      
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
              Start About Us Block
          ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <div class="about-us-block ptb-100" style="background-image:url('assets/images/bg/bg-pattent1.jpg')">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-7">
              <div class="section-title style-two">
                <h4 class="title-sub">What you can expect</h4>
                <h2>Cloud Print provides the best and <br>most economical online documents printing.</h2>
              </div>
              <div class="about-content">
                <p>
                  Print media is widely considered more credible than digital media.
                  <br>
                  You can save time and money by using Cloud Print in online printing services and get high-quality printouts.
                  <br>
                  Whether it's few copies or bulk printing, we can handle everything effortlessly that too at a very reasonable price.
                  <br>
                  As we know that colour plays a great role in the services of Printing, so we provide best color print.
                </p>
               
                <a class="btn btn-default" (click)="signUp()" style="display: table;color: #fff;">Get Started Now!</a>
              </div><!-- /.about-content -->
            </div><!-- /.col-lg-7 -->
            <div class="col-lg-5">
              <div class="mock-up-thumb md-mrb-50">
                <img src="assets/images/Newfolder/11.jpg" alt="About Mock" />
              </div><!-- /.mock-up-block -->
            </div><!-- /.col-lg-5 -->
  
          </div><!-- /.row -->
        </div><!-- /.container -->
      </div>
      
      <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
             Start Featured Block
         ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
      <div class="featured-block ptb-100">
        <div class="container ml-b-40">
          <div class="row justify-content-center">
            <div class="col-lg-5 col-md-6">
              <img style="border: 1px solid cornflowerblue;" src="assets/images/Newfolder/12.jpg">
            </div>
            <div class="col-lg-7 col-md-8">
              <div class="promo-content text-white text-center online_get">
                <h2 style="color: black !important;margin-top: 150px;float: left;">Get any type of prints.</h2>
                <h4 class="promo-subtitle" style="color: black !important;">
                  You can specify the type of pages i.e. color or black & white copies.
                  <br>
                  When it comes to professional printing processes there are three main types: Offset litho printing, Digital Printing, Screen printing.
                  <br>
                  You can specify the type of paper i.e. Regular Matte Paper, Glossy Paper, Bright White Paper etc.
                  <br>
                  You can also specify the size: A4 size paper, legal size paper, A3 Size, A5 size, B5 size etc.
                </h4>
                <a class="btn btn-default" (click)="signUp()" style="display: table;">Get Started Now!</a>
              </div><!-- /.promo-content-->
            </div>
  
  
          </div>
  
  
        </div><!-- /.container -->
      </div>
      <!--~~./ end featured block ~~-->
  
      <div class="news-block style-one ptb-100 bg-image" style="background-image:url('assets/images/bg/bg-pattent1.jpg')">
        <div class="container ml-b-60">
          <div class="row">
              <div class="col-lg-6">
                <div class="section-title style-two">
                  <h2 style="color: black !important;margin-top: 100px;">Get other items from stationary </h2>
                </div>
                <div class="about-content">
                  <p>
                    As we know that, we can get stationary items from Print shops.
                    <br>
                    
                    So, If you are in need of getting these in short time then you can check their availability.
                  </p>
                  <br>
                <br>
                <br>
                <a class="btn btn-default" (click)="signUp()" style="display: table;color: #fff;">Get Started Now!</a>
                </div><!-- /.about-content -->
                
              </div><!-- /.col-lg-7 -->
              
  
              <div class="col-lg-6">
                <div class="mock-up-thumb md-mrb-50">
                  <img src="assets/images/Newfolder/62.jpg" alt="About Mock" />
                </div><!-- /.mock-up-block -->
              </div><!-- /.col-lg-5 -->
  
        </div>
      </div>
  </div>
  
      
  